<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<header class="row">
			<div class="col col-10 offset-1">
				<h1>Coffee</h1>
				<h2>The worlds leading site about coffee...</h2>
			</div>
		</header>
	</body>
</html>