<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<header class="row">
			<div class="col col-10 offset-1">
				<h1>Coffee</h1>
				<h2>The worlds simplest site of ways to brew coffee...</h2>
			</div>
		</header>
		<div class="row">
			<div class="col col-6">
				<img class="image" src="https://images.unsplash.com/photo-1515442261605-65987783cb6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80">
			</div>
			<div class="col col-6 center">
				<h4>Drip Coffee</h4>
				<p>
					The traditional drip coffee. To be honest depending on the coffee this is not that bad. It does not leave you with a rich cup of coffee or anything fancy, but it will give you that caffeine boost you need to make it through the day. With a coffee maker place a filter in, fill up filter with preferred amount of coffee, fill reservoir and let the coffee maker do the rest.
				</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col col-6 center">
				<h4>Cold Brew Coffee</h4>
				<p>
					My preferred coffee, usually having the smoothes tast to it. Cold brew is pretty simple to get set but it takes the longest. All you need is a big glass or metal container to keep the coffee and cold water in together, and then a way to filter out the coffee grounds. I personally just use my french press and place it in the refrigerator the night before and by the next morning it is good to go.
				</p>
			</div>
			<div class="col col-6">
			<img class="image" src="https://images.unsplash.com/photo-1485899746080-bca038f6e593?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80">
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col col-6">
				<img class="image" src="https://images.unsplash.com/photo-1534177566139-01a4cd4c7574?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80">
			</div>
			<div class="col col-6 center">
				<h4>French Press</h4>
				<p>
					Rather simple way of making some really good tasting coffee. You will need an actual french press to do it, but from there all you need is coffee and hot water. Place the coffee ground in the press then add hot water. Let it sit for about 10 min press the plunger down and you have some nice rich coffee!
				</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col col-6 center">
				<h4>Pour Over Coffee</h4>
				<p>
					Growing in popularity recently, pour over coffee is just like it sounds and looks. Basically you put a cup or jar under a filter with coffee in it. You then boil hot water and slowly poor it over. I personally have never tried it, but from what I have been told is it has a smooth taste that is not usually as strong as some of the other ways we have talked about.
				</p>
			</div>
			<div class="col col-6">
				<img class="image" src="https://images.unsplash.com/photo-1517269145736-a6e1ff92c2fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80">
			</div>
		</div>
	</body>
</html>